.Nav_container{
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.Nav_logo{
    position:fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}
.Nav_avatar{
    position:fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}

.Nav_container_black{
    background-color: #111;
}


